<%= form_for @cast, url: admin_casts_path do |f| %>

      <h1> キャスト追加</h1>
        <p> cast</p>

          <%= f.text_field :cast %>

          <%= f.submit "add" %>

  <% end %>

      <h1> キャスト一覧</h1>

  <% @casts.each do |cast| %>

        <p> <%= cast.id %>::<%= cast.cast %></p>

  <% end %>