<div>
	    <%= attachment_image_tag @movie, :jacket_image, fallback: "nono_images.png", size: '260x364' %>
    </div>

    <div>
      <h2><%= @movie.title %></h2>
        <P><%= @movie.year.year %>制作の映画</P>
        <p>ジャンル:<%= @movie.genre.genre %></p>
        <p>出演者:<%= @movie.cast.cast %></p>
        <h4>あらすじ</h4>
        <p><%= @movie.summary %></p>

    </div>

      <%= form_with(model: @review, url: movie_reviews_path(@movie),method: :post, local: true) do |f| %>
        <%= f.text_field :body, class: "form-control w-75" %>
        <%= f.submit "コメントする", class: "btn btn-primary" %>
      <% end %>


   <% @movie.reviews.each do |review| %>
       <%= link_to movie_review_path(@movie, review), method: :delete do %>
         <%= review.body %>
        <% end %>

   <% end %>

