    <div>
      <h2><%= @movie.title %></h2>
	    <%= attachment_image_tag @movie, :jacket_image, fallback: "nono_images.png", size: '260x364' %>
      <P><%= @movie.year.year %>制作の映画</P>
      <p>ジャンル:<%= @movie.genre.genre %></p>
      <p>出演者:<%= @movie.cast.cast %></p>
      <h4>あらすじ</h4>
      <p><%= @movie.summary %></p>
    </div>

<p></p><dr>

      <h2>レビュー投稿</h2>
      <%= form_with(model: @review, url: movie_reviews_path(@movie),method: :post, local: true) do |f| %>
        <%= f.text_area :body, class: "form-control w-75" %>
        <%= f.submit "投稿する", class: "btn btn-primary" %>
      <% end %>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th>コメント</th>
        <th>日時</th>
      </tr>
    </thead>

   <% @movie.reviews.each do |review| %>
     <tbody>
      <tr>
        <td><%= attachment_image_tag @user, :profile_image, fallback: "no_images.png", size: '150x150' %></td>
        <td><%= review.body %></td>
        <td><%= review.created_at.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
    </tbody>
  <% end %>
</table>


