
<h1>ユーザー情報編集</h1>

<%= form_for(@user) do |f| %>

  <h5>プロフィール画像</h5>
    <%= f.attachment_field :profile_image %>

  <h5>ユーザー名</h5>
    <tr>
      <td><%= f.text_field :name, placeholder:"ニックネーム"%></td>
    </tr>

  <h5>メールアドレス</h5>
    <tr>
      <td><%= f.text_field :email, placeholder:"メールアドレス"%></td>
    </tr>


  <h5>プロフィール</h5>
    <tr>
      <td><%= f.text_area :introduction, placeholder:"プロフィール", size: "50" %></td>
    </tr>

<p></p>
  <tr>
    <td><%= f.submit "確定", class: 'btn btn-success' %></td>
  </tr>

<% end %>

