<h1>ユーザー情報編集</h1>

<%= form_for(@user) do |f| %>

  <h4> イメージ</h4>
    <%= f.attachment_field :profile_image %>

  <h4>ユーザー名</h4>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name, placeholder:"名前"%></td>
    </tr>

  <h4>メールアドレス</h4>
    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.text_field :email, placeholder:"メールアドレス"%></td>
    </tr>


  <h4>プロフィール</h4>

      <td><%= f.text_area :introduction, placeholder:"プロフィール", size: "50" %></td>
    </tr>


  <%= f.submit "確定", class: 'btn btn-success' %>

<% end %>

