<h1>マイページ</h1>

  <h3>ユーザー情報</h3>
    <table class="table">
    	<div class= "mypage-show-jacket">
    		<%= attachment_image_tag @user, :profile_image, fallback: "/images/no_images.png", size: '150x150' %>
      </div>

      <tr>
      	  <td class="mypage-infobox-title">ニックネーム</td>
      	  <td class="mypage-infobox-body"><%= current_user.name %></td>
      </tr>
      <tr>
      	  <td class="mypage-infobox-title">メールアドレス</td>
      	  <td><%= current_user.email %></td>
      </tr>
      <tr>
          <td class="mypage-infobox-title">プロフィール</td>
          <td><%= current_user.introduction %></td>
      </tr>
    </table>

 <p> <%= link_to"プロフィール編集", edit_user_path(current_user), class: 'btn btn-primary' %> </p>


 <p> <%= link_to "退会" , user_resign_path, class: 'btn btn-danger' %> </p>
