<h1 class="fas fa-user">マイページ</h1>

  <h3>ユーザー情報</h3>
    <table class="mypage-infobox", border="1">
    	<div class= "mypage-show-jacket">
    		<%= attachment_image_tag @user, :profile_image, fallback: "no_images.png", size: '150x150' %>

      <tr>
      	  <td class="mypage-infobox-title">ニックネーム</td>
      	  <td class="mypage-infobox-body"><%= current_user.name %></td>
      </tr>
      <tr>
      	  <td class="mypage-infobox-title">メールアドレス</td>
      	  <td><%= current_user.email %></td>
      </tr>
      <tr>
          <td class="mypage-infobox-title">プロフィール</td>
          <td><%= current_user.introduction %></td>
      </tr>
    </table>

 <p> <%= link_to"プロフィール編集", edit_user_path(current_user), class: 'btn btn-primary' %> </p>
