
<h1>ユーザー情報編集</h1>

  <%= form_for @user, url: admin_user_path(@user) do |f| %>

    <h5>プロフィール画像</h5>
      <%= f.attachment_field :profile_image %>

  	<h5>ニックネーム</h5>
  		<%= f.text_field :name, placeholder:"ニックネーム"%><br>

  	<h5>メールアドレス</h5>
  		<%= f.text_field :email, placeholder:"メールアドレス"%><br>

  	<h5>プロフィール</h5>
  		<%= f.text_area :introduction, placeholder:"プロフィール", size: "50" %><br>

<p></p>
    <tr>
  	  <%= f.submit "編集する" ,class: 'btn btn-success' %>
    </tr>

  <% end %>


