
<h1>ユーザー情報編集</h1>

  <%= form_for @user, url: admin_user_path(@user) do |f| %>

  	<table>
  		<p>ニックネーム</p>
  		  <%= f.text_field :name, placeholder:"ニックネーム"%><br>

  		<p>メールアドレス</p>
  		　<%= f.text_field :email, placeholder:"メールアドレス"%><br>

  		<p>プロフィール</p>
  		　<%= f.text_area :introduction, placeholder:"プロフィール"%><br>
  	</table>

  	<%= f.submit "編集する" ,class: "btn btn-primary"%>

  <% end %>


