<div class="user-index-title">
  <h1>会員一覧</h1>
</div>

    <div class="user-index-search">
      <%= form_tag(admin_search_users_path,:method => 'get') do %>
        <%= text_field_tag :search, "", size: "40" , placeholder: "ユーザー名" %>
        <%= submit_tag '検索', :name => nil, class:"btn btn-default" %>
      <% end %>
    </div>
<br />
<table border="1", class="user-index-table">
  <thead>
    <tr>
       <th>ユーザー名</th>
       <th>メールアドレス</th>
    </tr>
  </thead>
  <% @users.each do |user| %>
    <tbody>
      <tr>
         <td> <%= user.name %></td>
         <td> <%= user.email %></td>
         <td class="user-index-detail"> <%= link_to "ユーザー詳細", admin_user_path(user), class:"btn btn-primary" %>
         </td>
      </tr>
    </tbody>
  <% end %>
</table>


<%= paginate @users %>