<!DOCTYPE html>
<html>
  <head>
    <title>FILMFRONTIER</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Patua+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <link rel="stylesheet" href="style.css">
  </head>

    <body>
      <header class="navbar">
       <div class="container">
        <nav>
          <% if admin_signed_in? %>
            <div class="logo">
              <%= link_to admin_movies_path do %>
                <%= image_tag "/images/logo.png", class: "logo-image", size: "240x100" %>
              <% end %>
             </div>
               <li class="nav-item">
                 <%= link_to "会員リスト",admin_users_path, :style => "color:white;", :class =>"fas fa-users" %>
               </li>
               <li class="nav-item">
                 <%= link_to "映画一覧",admin_movies_path, :style => "color:white;", :class =>"fas fa-fal fa-film" %>
               </li>
               <li class="nav-item">
                 <%= link_to "映画追加",new_admin_movie_path, :style => "color:white;", :class =>"fas fa-plus-square" %>
               </li>
               <dl class="searchbox">
                <%= search_form_for @search, url: movies_path do |f| %>
                  <%= f.text_field :title_cont, size: "40",placeholder: "映画名" %>
                  <%= f.submit ("  検索  ") %>
                <% end %>
              </dl>
               </li>
             <li class="nav-item">
               <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, :style => "color:white;", :class =>"fas fa-sign-out-alt" %>
             </li>
          </nav>

        <% elsif user_signed_in? %>
          <nav>
            <div class="logo">
              <%= link_to movies_path do %>
                <%= image_tag "/images/logo.png", class: "logo-image", size: "240x100" %>
              <% end %>
            </div>
              <li class="nav-item">
                <%= link_to "マイページ", user_path(current_user), :style => "color:white;", :class =>"fas fa-user" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, :style => "color:white;", :class =>"fas fa-sign-out-alt" %>
              </li>
              <dl class="searchbox">
                <%= search_form_for @search, url: movies_path do |f| %>
                  <%= f.text_field :title_cont, size: "40",placeholder: "映画名" %>
                  <%= f.submit ("  検索  ") %>
                <% end %>
              </dl>
            </nav>

        <% else %>
          <nav>
            <div class="logo">
              <%= link_to movies_path do %>
                <%= image_tag "/images/logo.png", class: "logo-image", size: "240x100" %>
              <% end %>
            </div>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, :style => "color:white;", :class =>"fas fa-sign-in-alt" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, :style => "color:white;", :class =>"fas fa-user-plus" %>
            </li>
            <dl class="searchbox">
              <%= search_form_for @search, url: movies_path do |f| %>
                <%= f.text_field :title_cont, size: "40",placeholder: "映画名" %>
                <%= f.submit ("  検索  ") %>
              <% end %>
            </dl>
          </nav>
        <% end %>
       </div>
      </header>

    <div class='body'>
      <div class='margin'></div>
    </div>

      <main>
        <div class="container">
          <div class="back-rgba">
            <div class="wrapper">
              <% if flash[:notice] %>
                <p><%= flash[:notice] %></p>
              <% end %>
            <%= yield %>
            </div>
          </div>
        </div>
      </main>
    </body>
</html>
